

.app-body{background-color: #5C5470;}
.main-body{margin-top: -20px;}
.body-content{color:white; margin-left: 20px; margin-right: 20px; }
.page-heading-div{margin-top: -50px;}
.page-name{margin-top: 10px;float:left;}
.total-badge{float:right;margin-top: 10px;}



.main-content-card
{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    margin: 6rem auto 8.1rem auto;

}
.card-login{width: 370px; height: 480px;}
.card-welcome{width: 370px; height: 500px;}
.card-dashboard{height: 100%; margin-top: -95px;  background: #110e0e !important; color: white; }

#card-content {padding: 12px 12px;}
#card-title
{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family:Times New Roman Times, serif;
}

.logo-img
{
    width: 140px;
    height: 140px;
    margin-left: -20px;
    margin-top: 2px;
}
.welcome-img
{
    width: 340px;
    height: 120px;
    margin-left: -20px;
    margin-top: 2px;
}
.main-label-style{

    font-size: 20px;
    font-family:Times New Roman Times, serif;
}


.login-title-label{color: red;font-weight: bold;}

.text-input-fields {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 50px;
    border: 3px solid #0000FF;
}
.text-input-fields-pay {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 50px;
    border: 3px solid #0000FF;
}
.text-input-fields-pay,.text-input-fields:focus {border: 4px solid #0000FF;;}

.log-in-btn {
background-color: #0000FF;
border-radius: 50px;
color: white;
padding: 15px 20px;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}
.log-in-btn:hover {background-color: #030306;}

.dashboard-navi-btn {
    background-color: #0000FF;
    border-radius: 50px;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 200;
    opacity: 0.9;
    }

.my-grid-container 
{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.my-grid-item 
{
    padding: 20px;
    font-size: 10px;
}

/* Data tables */
.text-center
{
    /* align-items: center; */
    /* align-self: center; */
    text-align: center;
    /* align-content: center; */
}

/* navigation  */
#navigation-div{margin-top: 10px;}
.main-navigation-ul {
    list-style-type: none;
    height: 70px;
    overflow: hidden;
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}

.main-navigation-li {float: left;}

.main-navigation-li a {
    margin-top: 8px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 10px;

    background-color: #0000FF;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 120px;
    opacity: 0.9;
}
.main-navigation-patient  {
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;

    background-color: #0000FF;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 120px;
    /* opacity: 0.9; */
}

.log-out-btn {  
    float:right;
    margin-right: 15px;
    margin-top: 10px;
}
.log-out-btn-patient {  
    float:right;
    margin-right: 15px;
    margin-top: -50px;
}


/* cards */


.card-profile{
    margin-top: -70px;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background: whitesmoke;
	width: 550px;
	border-radius: 20px;
}
.card-profile-img{
    width:200px; 
    height:200px;
}
.view-table
{
    width: 98%;
    margin-left: 15px;
    /* margin-right: 10px; */
}

.space-span{color:white}